p {
    color: rgb(108, 17, 253);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

#resultParagraphF, #resultParagraphC {
    color: brown;
    display: inline-block;
    margin-left: 30px;
    
}